@tailwind base;
@tailwind components;
@tailwind utilities;

.cardsContainer{
    display: grid;
    padding-inline: 20px;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
}

.deleteCardSpan{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373636;
    border-radius: 100%;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -2px;
    top: -2px;
    font-weight: 900;    
}

.itemsAsideBar {
    width: 320px;
    /* height: calc(100vh - 40px); */
    /* top: 40px; */
    height: 100vh;
    top: 0px;
    z-index: 2;
  }

/* Tablet MediaQueries */
@media (max-width:1050px) {
    .cardsContainer{
        grid-template-columns: repeat(2, auto);
    }
}

/* Phone MediaQueries */
@media (max-width:680px) {
    .cardsContainer{
        grid-template-columns: repeat(1, auto);
    }
}